.container {
  display: flex;
  gap: 3rem;
  align-items: center;
  max-width: 1200px;
  margin: 50px 0;
  padding: 5rem;
}

.testimonialSection {
  flex: 1;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #252B42;
  font-family: 'Montserrat';
    font-weight: 700;
text-align: center;
}

.profileImageContainer {
  margin: 0 auto 1.5rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.star {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.text {
  margin-bottom: 2rem;
  font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
text-align: center;
color: #737373;
}

.author {
  margin-top: 1.5rem;
}

.authorName {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;

  color: #23A6F0;
  font-family: 'Montserrat';
font-weight: 700;
line-height: 24px;
letter-spacing: 0.2px;


}

.authorTitle {
  font-size: 1rem;

  color: #252B42;
  font-family: 'Montserrat';
font-weight: 700;
line-height: 24px;
letter-spacing: 0.2px;
text-align: center;


}

.gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

.galleryImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galleryImage:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .gallery {
    width: 100%;
  }
}